<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
	 	<listener class-name="listener.Listeners" />
  	</listeners>
  	
  <test name="Textbox">
    <classes>
      <class name="testcases.Textbox_Test"/>
    </classes>
  </test> 
  
  <test name="Checkbox">
    <classes>
      <class name="testcases.Checkbox_Test"/>
    </classes>
  </test> 
</suite> 
